<footer>
  <ul class="contact-links">
    <li>
      <a href="https://www.facebook.com/yourpage">
        <img src="assets/icons/facebook.png" alt="Facebook" />
        Facebook
      </a>
    </li>
    <li>
      <a href="https://twitter.com/yourhandle">
        <img src="assets/icons/insta.png" alt="Instagram" />
        Instagram
      </a>
    </li>
    <li>
      <a href="https://twitter.com/yourhandle">
        <img src="assets/icons/twitter.png" alt="Twitter" />
        Twitter
      </a>
    </li>
    <li>
      <a href="https://twitter.com/yourhandle">
        <img src="assets/icons/youtube.png" alt="Youtube" />
        Youtube
      </a>
    </li>
  </ul>
  <div class="separator"></div>
  <p class="footer-bottom-text">Copyright @ 2023</p>
</footer>
