<div class="content">
  <div class="parent">
    <div class="div1">
      <div class="about-me-box">
        <img src="assets/images/exampleProfilePicture.png"/>
        <p>me</p>
      </div>
    </div>
    <div class="div2"><h1>
      Hello there, I'm Rainbow Dash
    </h1>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl eros, fringilla in odio in, lobortis tristique erat. Donec egestas pharetra mi, non facilisis turpis luctus id. Mauris finibus et diam ac finibus. Nunc scelerisque libero eu est volutpat, nec feugiat libero fermentum. Phasellus fringilla viverra suscipit. Curabitur mauris massa, rutrum sit amet imperdiet at, venenatis lobortis urna. Sed tempor egestas lobortis. Pellentesque commodo tempus massa, a aliquet diam cursus vitae. Vestibulum porttitor libero in lectus faucibus ultrices.
      </p>
      <p>
        Ut sollicitudin feugiat pulvinar. Integer et nunc semper, tempor dolor nec, vestibulum sapien. Sed sagittis placerat sodales. In hac habitasse platea dictumst. Nulla quis feugiat lorem, at aliquam dui. Maecenas ullamcorper ultricies odio, ac ullamcorper velit porttitor nec. Quisque urna est, tempor id ultrices vitae, condimentum quis libero. Vivamus vulputate orci nisi, at fringilla nulla ultricies ut. Donec consequat, turpis ut bibendum feugiat, orci nulla tempor turpis, at tempus nibh orci non leo. Maecenas tellus massa, vehicula vel nisi a, vehicula laoreet augue. Vivamus molestie libero nulla, id commodo mauris efficitur in.
      </p>
    </div>
  </div>
</div>
